@CHARSET "UTF-8";

* {
	
}

.container {
	width: 30%;
}

.container div {
	margin-top: 100px;
	text-align: left;
}

.container div p {
	margin: 30px 0 30px 0;
	font-size: 23px;
	color: #f00;
}

.btn {
	margin-top: 20px;
	width: 100%;
	height: 55px;
	background: #4d4d4d;
	color: #fff;
}

.btn:hover {
	background: #404040;
}