@CHARSET "UTF-8";

* {
	
}

.container {
	width: 25%;
}

h3 {
	margin-top: 80px;
}

.form-group {
	margin-top: 30px;
}

.form-group>label {
	margin-bottom: 20px;
}

.form-group>input {
	height: 55px;
}

input[type="button"] {
	margin-top: 30px;
	width: 100%;
	height: 55px;
	background: #4d4d4d;
	color: #fff;
}

.btn:hover {
	background: #404040;
	color: #fff;
}

h6 {
	margin-top: 50px;
	text-align: center;
	color: #999;
	font-size: 15px;
}