<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.km.mapper.joinMapper">

 	<insert id="guildJoin" parameterType="joinVO" useGeneratedKeys="true" keyProperty="joinNum">
    	INSERT INTO GUILD_JOIN(joinName, joinNickname, joinAge, joinSex, joinRecommend, joinLastguild, joinIp, joinDate, joinStatus) VALUES(#{joinName}, #{joinNickname}, #{joinAge}, #{joinSex}, #{joinRecommend}, #{joinLastguild}, #{joinIp}, now(), #{joinStatus});
    </insert>
    
    <select id="joinList" resultType="joinVO">
        SELECT JOINNUM, JOINNAME, JOINNICKNAME, JOINAGE, JOINSEX, JOINRECOMMEND, JOINLASTGUILD, JOINIP, JOINSTATUS, JOINRETESTDAY, JOINDATE FROM GUILD_JOIN ORDER BY JOINNUM DESC
    </select>

</mapper>