<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.km.mapper.memberMapper">
 	
 	<select id="selectMember" resultType="memberVO">
        SELECT * FROM MEMBER;
    </select>
    
    <insert id="insertMember" parameterType="memberVO">
    	INSERT INTO member(memEmail, memPassword, memName, memNickname, memBirthday, memIp, memClass, memDate, memNextpassword) VALUES(#{memEmail}, #{memPassword}, #{memName}, #{memNickname}, #{memBirthday}, #{memIp}, "손님", curdate(), #{memNextpassword});
    </insert>
    
    <select id="idChecked" parameterType="memberVO" resultType="memberVO"> 
		select * from member where memEmail=#{memEmail}
	</select>
	
	<select id="loginChecked" parameterType="memberVO" resultType="memberVO"> 
		select * from member where memEmail=#{memEmail} AND memPassword=#{memPassword}
	</select>
	
	<select id="idSearchChecked" parameterType="memberVO" resultType="memberVO"> 
		select * from member where memName=#{memName} AND memNickname=#{memNickname} AND memNextpassword=#{memNextpassword} 
	</select>
	
	<select id="pwSearchChecked" parameterType="memberVO" resultType="memberVO"> 
		select * from member where memEmail=#{memEmail} AND memName=#{memName} AND memNickname=#{memNickname} AND memNextpassword=#{memNextpassword} 
	</select>
	
</mapper>