@CHARSET "UTF-8";

* {
	
}

header {
	height: 100px;
	border-bottom: 1px solid #777;
}

nav {
	text-align: center;
}

nav > img {
	float: left; 
	margin-top:16.5px;
	margin-left:50px;
}

nav > ul {
	float: right;
	line-height:100px;
	margin-right:50px;
}

nav > ul > li {
	float: left;
	width:120px;
}

nav > ul > li > ul {
	float:left;
}

nav > ul > li > ul > li {
	display: none;
}

nav > ul > li > ul > li > a {
	color:#ff0000;
}