@CHARSET "UTF-8";

* {
	
}

iframe {
	margin-bottom:40px;
	margin-left:5%;
	width: 90%;
	height: 450px;
} 

.container {
	width: 65%;
	margin-top: 30px;
}

.table {
	margin: 0;
	border-bottom: 1px solid #ddd;
}

.table tr>td:NTH-CHILD(1) {
	width: 15%;
}

.table tr>td:NTH-CHILD(2) {
	width: 15%;
}

.table tr>td:NTH-CHILD(3) {
	width: 60%;
	text-align: right;
}

.table>tr>td:NTH-CHILD(4) {
	width: 10%;
}

.content {
	width: 100%;
	background-color: #f9f9f9;
	padding: 30px 0 30px 5px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

.reply {
	
}

.reply .form-control {
	height: 40px;
}

form button {
	float: right;
	position: relative;
	bottom: 37px;
	right: 5px;
}