@CHARSET "UTF-8";

* {
	
}

.container {
	width: 25%;
}

h3 {
	margin-top: 80px;
	margin-bottom:50px;
}

.form-group {
	margin-top: 40px;
}

.form-group>label {
	margin-bottom: 20px;
}

.form-group>input {
	height: 55px;
}

h6 {
	margin-top: 50px;
	text-align: center;
	color: #999;
	font-size: 15px;
}