@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/earlyaccess/hanna.css');

* {
	margin: 0 auto;
	font-family: 'Hanna', sans-serif;
	font-size: 15px;
}

body {
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
	color: #000;
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

header {
	position: relative;
	height: 100px;
	border-bottom: 1px solid #777;
	z-index: 1;
	background-color: #fafafa;
}

nav {
	text-align: center;
}

nav>a>img {
	float: left;
	margin-top: 16.5px;
	margin-left: 50px;
}

nav>ul {
	float: right;
	line-height: 100px;
	margin-right: 50px;
}

nav>ul>li {
	float: left;
	width: 120px;
	cursor: pointer;
}

nav>ul>li:hover>ul>li {
	color: #f00;
	display: block;
}

nav>ul>li>ul {
	float: left;
	position: absolute;
}

nav>ul>li>ul>li { /*임시로 해둠 변경 필요*/
	width: 120px;
	position: relative;
	right: 40px;
	line-height : 50px;
	background: #fafafa;
	line-height: 50px;
	display:none;
}

nav>ul>li>ul>li>a {
	color: #ff0000;
}