@CHARSET "UTF-8";

* {
	
}

.container {
	width: 25%;
}

h3 {
	margin-top: 80px;
}

.form-group {
	margin-top: 50px;
}

.form-group>label {
	margin-bottom: 20px;
}

.form-group>input {
	height: 55px;
}

button {
	margin-top: 50px;
	width: 100%;
	height: 55px;
	background: #4d4d4d;
	color: #fff;
}

.btn:hover {
	background: #404040;
	color: #fff;
}

#serche {
	margin-top: 30px;
}

h6 {
	margin-top: 50px;
	text-align: center;
	color: #999;
	font-size: 15px;
}

#serche>span:NTH-CHILD(1) {
	float: left
}

#serche>span:NTH-CHILD(2) {
	float: right;
}

#serche>span>a:hover {
	text-decoration: underline;
}